/* style */
/* An external stylesheet */


table, th, td {
    border: 1px solid whitesmoke;
}
table {
    width: 50%;
}



h1 {color: white;text-decoration:underline; text-shadow: 1px 1px red;text-align: center;}
a   {text-decoration:none; color: whitesmoke;text-shadow: 1px 1px blueviolet;font-size: 30px;}
a:hover {text-decoration:underline;color:red;}
.Statues {color: whitesmoke;text-shadow: 1px 1px lightblue;}
.imagewithborder{border: 4px dashed silver;}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}